body {
    background: #131313;
    color: white;
    font-family: Arial, sans-serif;
}

.cube {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.face {
    font-size: 24px;
    font-weight: bold;
}
